@import "../ReUsableStyles/variable.scss";

.appointment-content{
    z-index: 0;
    border-radius: 5px;
    display:$display-property;
    justify-content: $space-between ;
    width: 97%;
    left: 10px;
    color: $black-color;
    background-color: #e8dff4;
    border: 1px solid $hover-color;
    &:hover
    {
        color: $hover-color;
    }

    .appointment-title
    {
        padding-right: 20px;
        width: max-content;
        max-width: 25%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    .appointment-timestamp
    {
        border-radius:5px;
        border-left:10px solid $hover-color;
        padding-left: 20px;
    }

}

.card-hover-style
{
    &:hover
    {
        height: 30px !important;
        font-size: 12px !important;
        z-index: 6 !important;
        transition: 0.3s linear;
    }
}



