@import "../ReUsableStyles/variable.scss";
@import "../ReUsableStyles/mixin.scss";


//style for create button
.create-btn{
  @include buttonStyle;
  font-size: 16px;
  border: none;
  color: $background-color;
  background-color: $hover-color;
  padding: 10px 18px;
  width: 135px;

  &:hover {
    @include buttonHover;
    background-color: $black-color;
  }

}


//style for Save Button
.save-btn {
  @include buttonStyle;
  padding: 10px 25px;
  background-color: $hover-color;
  color: $background-color;

  &:hover {
    @include buttonHover;
  }
}


//style for update Button
.update-btn {
  @include buttonStyle;
  padding: 10px 18px;
  background-color: $hover-color;
  color: $background-color;

  &:hover {
    @include buttonHover;
  }
}

//style for close Button
.close-btn{
  @include buttonStyle;
  padding: 10px 22px;

  &:hover {
    @include buttonHover;
   
  }
}

//style for cancel Button
.cancel-btn{
  @include buttonStyle;
  padding: 10px 18px;

  &:hover {
    @include buttonHover;
  }
}

//style for discard Button
.discard-btn{
  @include buttonStyle;
  padding: 10px 20px;
  background-color: $hover-color;
  color: $background-color;

  &:hover {
    @include buttonHover;
  }
}

//style for today Button
.today-btn {
  @include buttonStyle;
  background-color:$black-color;
  color: $background-color;
  font-size: 16px;
  box-shadow: none;
  width: 120px;
  padding: 10px 18px;
  &:hover {
    @include buttonHover;
  }
}

//style for delete Button
.delete-btn
{
  @include buttonStyle;
  padding: 10px 20px;
  background-color: $hover-color;
  color: $background-color;

  &:hover {
    @include buttonHover;
  }
}

