@import "../../ReUsableStyles/variable.scss";
@import "../../ReUsableStyles/mixin.scss";

.nav-bar {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: $background-color;
  display: $display-property;
  justify-content: $space-between;
  align-items: $align-item;
  padding: 0px 30px;
  padding-top: 18px;
  padding-bottom: 30px;
  cursor: default;



  .search-go-back
  {
    display:$display-property;
    align-items: $align-item;
    padding-left: 18px;
    height: 42px;
  }
   .go-back
  {
    margin-right: 20px;
    padding-top: 4px;
    font-size: 20px;
    // height: 30px;
    cursor: $cursor-pointer;
    &:hover
    {
      color: $hover-color;
    }
  }
  .search-go-back-text {
    color: #000000;
    font-size: 25px;
    font-weight:500;

  }



  .right-nav
  {
    display: $display-property;
    align-items: $align-item;
    padding-right: 18px;
    

    .search-icon
    {
      padding: 10px 30px;
      font-size: 20px;
      background-color: $background-color;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      &:hover{
        cursor:$cursor-pointer;
        background-color: $hover-color;
        color: $background-color;
      }
    }
  }

}

.nav-search-style
{
  padding-left: 20px;
  padding-right: 20px;
}

